@model HWA.ECom.Entity.ShoppingCartProduct

@{
    ViewBag.Title = "Update";
}

<h2>TestProductUpdate</h2>

@using (Html.BeginForm("UpdateResult", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(excludePropertyErrors: true)

    @Html.LabelFor(model => model.Id)
    @Html.EditorFor(model => model.Id)
    @Html.ValidationMessageFor(model => model.Id)
    <br />

    @Html.LabelFor(model => model.ShoppingCartId)
    @Html.EditorFor(model => model.ShoppingCartId)
    @Html.ValidationMessageFor(model => model.ShoppingCartId)
    <br />

    @Html.LabelFor(model => model.ProductId)
    @Html.EditorFor(model => model.ProductId)
    @Html.ValidationMessageFor(model => model.ProductId)
    <br />

    @Html.LabelFor(model => model.Quantity)
    @Html.EditorFor(model => model.Quantity)
    @Html.ValidationMessageFor(model => model.Quantity)
    <br />
    @Html.LabelFor(model => model.UnitPrice)
    @Html.EditorFor(model => model.UnitPrice)
    @Html.ValidationMessageFor(model => model.UnitPrice)
    <br />
    @Html.LabelFor(model => model.UnitOfMeasure)
    @Html.EditorFor(model => model.UnitOfMeasure)
    @Html.ValidationMessageFor(model => model.UnitOfMeasure)
    <br />
    @Html.LabelFor(model => model.SubTotal)
    @Html.EditorFor(model => model.SubTotal)
    @Html.ValidationMessageFor(model => model.SubTotal)
    <br />
    
    @Html.LabelFor(model => model.ModifiedBy)
    @Html.EditorFor(model => model.ModifiedBy)
    @Html.ValidationMessageFor(model => model.ModifiedBy)
    <br />
    @Html.LabelFor(model => model.ModifiedDate)
    @Html.EditorFor(model => model.ModifiedDate)
    @Html.ValidationMessageFor(model => model.ModifiedDate)
    <br />

    <input type="submit" value="Update" />

}

